body {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: #fbfbfb;
	padding: 0;
	margin: 0;
}

.column-container {
	display: flex;
	width: 80%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row{
	display: flex;
	flex-direction: row;
}

.row.wrap {
	justify-content: space-around;
	flex-wrap: wrap;
	width: 95%;
	margin: 10px 0;
}

.row.wrap .image {
	display: flex;
	width: 150px;
	height: 150px;
	background-size: cover;
	background-position: center;
	justify-content: center;
	align-items: center;
	transition: 0.2s all ease-in-out;
	cursor: pointer;
}

.row.wrap .image h3 {
	opacity: 0;
	color: white;
	transition: 0.2s all ease-in-out;
	text-align: center;
	transition: 0.2s all ease-in-out;
}

.row.wrap .image >.overlay{
	position: absolute;
	width: 150px;
    height: 150px;
    transition: 0.2s all ease-in-out;
}

.row.wrap .image:hover >.overlay{
    background-color:#000;
    opacity:0.5;
    z-index: 0;
}

.row.wrap .image:hover h3 {
	z-index: 1;
	opacity: 1;
}


.image.beer {
	background: url("../images/beers.jpg");
}

.image.breakfast {
	background: url("../images/breakfast.jpg");
}

.image.sweets {
	background: url("../images/sweets.jpg");
}

.column {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: white;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 7px;
	align-items: center;
	padding: 10px;
	height: auto;
	margin: 20px 0;
}

ul.ui-menu {
    background-color: rgb(68, 69, 81);
}

.ui-menu .ui-menu-item {
    border:0;
    height: 28px;
    font-size: 18px;
}

.ui-menu .ui-menu-item-wrapper{
    color: #fbfbfb;
}

.ui-menu .ui-menu-item:focus {
    background-color: rgba(0,0,0,0.2);
}

.search .row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.search input {
	width: 30%;
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid rgba(0,0,0,0.2);
	font-size: 24px;
}

.search button {
    background: rgb(85, 186, 186);
    width: 250px;
    border: 0;
    font-size: 24px;
    color: #fefefe;
    padding: 0px;
    line-height: 64px;
}