.container {
    display: flex;
    flex-direction: row;
}

#sankey {
    width: 50%;
    background-color: rgba(0,0,0,0.2);
}

#sankey svg {
    width: 100%;
    height: 100%;
}

#sankey svg path:hover {
  stroke-opacity: .5;
}

#map {
    background-color: #00244c;
    width: 50%;
}

#map .countries {
    fill: #0f1121;
    stroke: #5c5c5c;
    stroke-width: 0.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    vector-effect: non-scaling-stroke;
}

#map .countries > path:hover {
    fill: #52d6ff;
    cursor: pointer;
}

div.tooltip {
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 100px;
    height: 22px;
    line-height: 22px;
    padding: 2px;
    font: 12px sans-serif;
    background: black;
    color: white;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}

div.tooltip:before {
    content:"";
    position: absolute;
    top: 100%;
    left: 40px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-top: 12px solid black;
    border-right: 12px solid transparent;
}
