body {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

#arc-0 path {
    fill: rgb(242, 101, 32);
    stroke: white;
}

#arc-1 path {
    fill: rgb(71,172,177);
    stroke: white;
}

#data-1 {
    fill: red;
}

.donut text {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  fill: black;
  text-anchor: middle;
}

.arc text {
    fill: white;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.container .graphs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    overflow: hidden;
}

.container .graphs .norm-bar {
    max-width: 100%;
    width: 100%;
}

.relevant {
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: rgba(0,0,0,0.5);
    height: 100vh;
}

.filters {
    width: 15%;
    background-color: rgba(0,0,0,0.5);
    height: 100vh;
}