body {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#arc-0 path {
    fill: rgb(242, 101, 32);
    stroke: white;
}

#arc-1 path {
    fill: rgb(71,172,177);
    stroke: white;
}

#data-1 {
    fill: red;
}

.donut text {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  fill: black;
  text-anchor: middle;
}

.arc text {
    fill: white;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.container .graphs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    overflow: hidden;
    background-color: rgb(239, 243, 246);
    z-index: -1;
}

.container .graphs .norm-bar {
    max-width: 100%;
    width: 100%;
}

.relevant {
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: rgb(44, 44, 49);
    height: 100vh;
    box-shadow: 8px 7px 5px 0 rgba(0,0,0,0.2);
}

.filters {
    padding-top: 50px;
    width: 15%;
    background-color: rgb(44, 44, 49);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -8px 7px 5px 0 rgba(0,0,0,0.2);

}

.filters .slider {
    width: 60%;
    margin: 20px 0;

}

.filters p {
    color: #fbfbfb;
}

.toolbar {
    display: flex;
    width: 100%;
    top: 0;
    height: 64px;
    background-color: rgb(68, 69, 81);
    justify-content: center;
    box-shadow: 0 5px 5px 1px rgba(0,0,0,0.2);
}

.toolbar input {
    background: transparent;
    border: 0;
    color: #fbfbfb;
    width: 30%;
    font-size: 28px;
}

.toolbar input::placeholder {
    color: #fbfbfb;
}

.toolbar button {
    background: rgb(85, 186, 186);
    width: 250px;
    border: 0;
    font-size: 28px;
    color: #fefefe;
    padding: 0px;
    line-height: 64px;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);
}

.toolbar button:hover {
    cursor: pointer;
    background: rgb(75, 175, 175);
}

button.styled {
    height: 40px;
    width: auto;
    font-size: 20px;
    border-radius: 20px;
    padding: 0 20px;
    border: 2px solid rgb(68, 69, 81);
    background: transparent;
    color: #fbfbfb;
    transition: 0.2s all ease-in-out;
}

button.styled:hover {
    cursor: pointer;
    background-color: rgb(68, 69, 81);
}

ul.ui-menu {
    background-color: rgb(68, 69, 81);
}

.ui-menu .ui-menu-item {
    border:0;
    height: 28px;
    font-size: 18px;
}

.ui-menu .ui-menu-item-wrapper{
    color: #fbfbfb;
}

.ui-menu .ui-menu-item:focus {
    background-color: rgba(0,0,0,0.2);
}